{% extends "layouts/base.html" %}

{% block title %} Sample page {% endblock %} 



<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
	
{% endblock stylesheets %}

{% block content %}

	
	<!-- Including jQuery -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script> -->
		

	<!-- [ Main Content ] start -->
	<div class="pcoded-main-container">
		<div class="pcoded-content">
			<!-- [ breadcrumb ] start -->
			<div class="page-header">
				<div class="page-block">
					<div class="row align-items-center">
						<div class="col-md-12">
							<div class="page-header-title">
								<h5 class="m-b-10">Sample Page</h5>
							</div>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
								<li class="breadcrumb-item"><a href="#">Sample Page</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- [ breadcrumb ] end -->

			<!-- dashboard -->
			<div class="row">
				<div class="col-md-6 col-xl-3">
					<div class="card bg-c-blue order-card">
						<div class="card-body">
							<h6 class="text-white">Total Users</h6>
							<h2 class="text-end text-white"><i class="feather icon-user-plus float-start"></i><span>{{count}}</span></h2>
							<p class="m-b-0">Active Users<span class="float-end">{{count}}</span></p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-xl-3">
					<div class="card bg-c-green order-card">
						<div class="card-body">
							<h6 class="text-white">Total Sales</h6>
							<h2 class="text-end text-white"><i class="feather icon-tag float-start"></i><span>1641</span>
							</h2>
							<p class="m-b-0">This Month<span class="float-end">213</span></p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-xl-3">
					<div class="card bg-c-yellow order-card">
						<div class="card-body">
							<h6 class="text-white">Revenue</h6>
							<h2 class="text-end text-white"><i
									class="feather icon-repeat float-start"></i><span>$42,562</span></h2>
							<p class="m-b-0">This Month<span class="float-end">$5,032</span></p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-xl-3">
					<div class="card bg-c-red order-card">
						<div class="card-body">
							<h6 class="text-white">Total Profit</h6>
							<h2 class="text-end text-white"><i
									class="feather icon-award float-start"></i><span>$9,562</span></h2>
							<p class="m-b-0">This Month<span class="float-end">$542</span></p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-header">
							<h5>Unique Visitor</h5>
						</div>
						<div class="card-body ps-0 pb-0">
							<div id="unique-visitor-chart-feature"></div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="row">
                        <div class="col-sm-12">
                            <div class="card bg-primary text-white">
                                <div class="card-body bg-patern-white">
                                    <div class="row">
                                        <div class="col-auto">
                                            <span>Customers</span>
                                        </div>
                                        <div class="col text-end">
                                            <h2 class="mb-0 text-white">50</h2>
                                            <span class="text-white">{{count/50}}%<i class="feather icon-trending-up ms-1"></i></span>
                                        </div>
                                    </div>
                                    <div id="customer-chart-f"></div>
                                    <div class="row mt-3">
                                        <div class="col">
                                            <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-success"></i>{{count}}</h3>
                                            <span class="ms-3">New</span>
                                        </div>
                                        <div class="col">
                                            <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-white"></i>50</h3>
                                            <span class="ms-3">limit</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>


			<!-- [ Main Content ] start -->
			<div class="row">
				<!-- [ sample-page ] start -->
				<div class="col-sm-12">
					<div class="card">

						<div class="card-header">
							<h5>Add User</h5>
							<div class="card-header-right">
								<div class="btn-group card-option">
									<button type="button" class="btn dropdown-toggle btn-icon" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="feather icon-more-horizontal"></i>
									</button>
									<ul class="list-unstyled card-option dropdown-menu dropdown-menu-end">
										<li class="dropdown-item full-card"><a href="#"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
										<li class="dropdown-item minimize-card"><a href="#"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
										<li class="dropdown-item reload-card"><a href="#"><i class="feather icon-refresh-cw"></i> reload</a></li>
										<li class="dropdown-item close-card"><a href="#"><i class="feather icon-trash"></i> remove</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div id="flashwrapper" class="col-md-2" style="position: fixed; top: 66px; right: 10px;">
							{% with messages = get_flashed_messages(with_categories=true) %}
								{% if messages %}
									{% for category, message in messages %}
										<div class="alert alert-{{category}} alert-dismissible fade show">
											<strong>{{category}}</strong> {{message}}
											<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
										</div>
									{% endfor %}
								{% endif %}
							{% endwith %}
						</div>
						
						<div class="card-body">
							<!-- <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
								aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
								officia deserunt mollit anim id est laborum."
							</p> -->
							<form action="{{url_for('authentication_blueprint.addUser')}}" method='post'>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="exampleInputEmail1">Email address</label>
											<input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
											<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
										</div>
										<br>
										<div class="form-group">
											<label for="exampleInputPassword1">Password</label>
											<input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
										</div>
										<br>
										<!-- <div class="form-group form-check">
											<input type="checkbox" class="form-check-input" id="exampleCheck1">
											<label class="form-check-label" for="exampleCheck1">Check me out</label>
										</div> -->
										<button type="submit" name="add-user" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add User</button>
										
										<!-- <span class="mb-0 text-muted">
											{% if msg %}
												<span class="text-danger">
													{{ msg }}
												</span>
											{% endif %} 
										</span> -->
										<br>
										
										
										<!-- <div class="container">
											{% if msg %}
												{% with messages = get_flashed_messages() %}
													{% if messages %}
														
														<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
															<div class="modal-dialog">
																<div class="modal-content">
																	<div class="modal-header">
																		<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
																		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
																	</div>
																	<div class="modal-body">
																		{% for message in messages %}
																			{{ message }}
																		{% endfor %}
																	</div>
																	<div class="modal-footer">
																		<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
																		<button type="button" class="btn btn-primary">Save changes</button>
																	</div>
																</div>
															</div>
														</div>
													{% endif %}
												{% endwith %}
											{% endif %} 
										</div> -->
						
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>Username</label>
											<input type="text" name="username" class="form-control" placeholder="Text">
											<br>
										</div>
										<br>
										<div class="form-group">
											<label for="exampleInputPassword1">Description</label>
											<input type="text" class="form-control" id="exampleInputDescription1" placeholder="">
										</div>

										
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- [ sample-page ] end -->
			</div>
			<!-- [ Main Content ] end -->

			<div class="row">
				<!-- [ sample-page ] start -->
				<div class="col-sm-12">
					<div class="card">

						<div class="card-header">
							<h5>User list</h5>
							<div class="card-header-right">
								<div class="btn-group card-option">
									<button type="button" class="btn dropdown-toggle btn-icon" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="feather icon-more-horizontal"></i>
									</button>
									<ul class="list-unstyled card-option dropdown-menu dropdown-menu-end">
										<li class="dropdown-item full-card"><a href="#"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
										<li class="dropdown-item minimize-card"><a href="#"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
										<li class="dropdown-item reload-card"><a href="#"><i class="feather icon-refresh-cw"></i> reload</a></li>
										<li class="dropdown-item close-card"><a href="#"><i class="feather icon-trash"></i> remove</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="card-body">
							<!-- <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
								aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
								officia deserunt mollit anim id est laborum."
							</p> -->
							<div class="row">
								<table id="user-data" class="table table-striped">
									<thead>
									  <tr>
										<th>#</th>
										<th>username</th>
										<th>Email</th>
										<th>Action</th>
								
									  </tr>
									</thead>
									<tbody>
									  {% for user in users %}
									  <form action="{{url_for('authentication_blueprint.deleteUser', id=user.id)}}" method="post">
										<tr>
										  <td>{{ user.id }}</td>
										  <td>{{ user.username }}</td>
										  <td>{{ user.email }}</td>
										  <td> 
											<button type="submit" name="delete-user" class="btn btn-danger">Delete</button>
										  </td>
										  
										</tr>
									  </form>
									  {% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- [ sample-page ] end -->
			</div>
			<!-- [ Main Content ] end -->



		</div>
	</div>
	<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}

